{%extends 'base.html'%}
{%block content%}
		<h3>JJU SH.Y.R.H TOTAL BED NUMBER</h3>
	<div class="table-responsive-lg">
	<table class="table">
	<thead>
		<tr>
		<th scope="col">Unit Name</th>
		<th scope="col">Bed Number</th>
		<th scope="col">Bed Status</th>
		<th scope="col">Update</th>
		<th scope="col">Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{bed.unitname}}</td>
			<td>{{bed.bed_number}}</td>
			<td>{{bed.status}}</td>
			<td> <a href="{% url 'jjrh_bed:update' bed.id %}">Update</a></td>
			<td><a href="{% url 'jjrh_bed:delete' bed.id %}">delete</a></td>

		
		</tr>
	</tbody>
	</table>
</div>

{%endblock%}