{%extends 'base.html'%}
{%block content%}

<div class="table-responsive-lg">
  <table class="table">
   	<thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Medical ward A Male</th>
      <th scope="col">Medical ward A Female</th>
      <th scope="col">Medical ward B Male</th>
      <th scope="col">Medical ward B Female</th>
      <th scope="col">Medical ward C Male</th>
      <th scope="col">Medical ward C Female</th>
      <th scope="col">actions</th>

    </tr>
  </thead>
  <tbody>
    {%for bed in beds%}
    <tr>
      <th scope="row">{{bed.Date}}</th>
      <td>{{bed.Time}}</td>
      <td>{{bed.M_A_W_male}}</td>
      <td>{{bed.M_A_W_female}}</td>
      <td>{{bed.M_B_W_male}}</td>
      <td>{{bed.M_B_W_female}}</td>
      <td>{{bed.M_C_W_male}}</td>
      <td>{{bed.M_C_W_male}}</td>
      <td>
      <a href="">View</a>
      </td>

    </tr>
{%endfor%}
  </tbody>
  </table>
{%endblock%}