{%extends 'dashboard_base.html'%}
{%block content%}
	<div class="container-fluid">
		<div class="row justify-content-center">
                    <div class="col-lg-3 col-sm-4 col-xs-8">
                        <div class="white-box analytics-info">
                            <h4 class="box-title">Total beds: {{beds}}</h4>
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                                <li style="padding: 6px;">
                                    <i class="fas fa-bed fa-1x"></i>
                                </li>
                                <li class="ml-auto">
                                    <a href="">
                                        <span class="counter text-info"></span>
                                    <a href="{% url 'jjrh_bed:bed_create' %}"><span class="counter text-info">Add Beds</i></span></a>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-8">
                        <div class="white-box analytics-info">
                            <h4 class="box-title">View Beds &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                            <ul class="list-inline two-part d-flex align-items-center mb-0">

                                <li style="padding: 6px;">
                                    <div id="sparklinedash2">
                                    	<i class="fas fa-bed fa-1x"></i>
                                    </div>
                                </li>
                                <li class="ml-auto">
                                	<a href="">
                                		<span class="counter text-info"></span>
                                	<a href="{% url 'jjrh_bed:beds' %}"><span class="counter text-info">View Beds</span></a>
                                	</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-8">
                       	 <div class="white-box analytics-success">
                       	 	<h3 class="box-title">Add Units: {{unitnames}}</h3>
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                               
                                	<li style="padding: 6px;">
                                  <i class="fas fa-align-center fa-1x"></i>
                                </li>
                                <li class="ml-auto">
                                	<span class="counter text-info">
                                		<a href="{%url 'jjrh_bed:unit_create'%}"><span class="counter text-info">Add Units</span></a>
                                	</span>
                                </li>
                            </ul>
                        </div>  
                    </div>
                     <div class="col-lg-3 col-sm-4 col-xs-8">
                         <div class="white-box analytics-success">
                            <h3 class="box-title">View Units: {{unitnames}}</h3>
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                               
                                    <li style="padding: 6px;">
                                   <i class="fas fa-align-center fa-1x"></i>
                                </li>
                                <li class="ml-auto">
                                    <span class="counter text-info">
                                        <a href="{%url 'jjrh_bed:units'%}"><span class="counter text-info">View Units</span></a>
                                    </span>
                                </li>
                            </ul>
                        </div>  
                    </div>
                </div>
	</div>
 	<div class="row">
        <div class="col-md-12">
           <div class="white-box text-success text-center">
                <h2>Manage Admins</h2>
            </div>
        </div>
     </div>
     <div class="container-fluid">
		<div class="row justify-content-center">
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Total Admins</h3>
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                                <li style="padding: 6px;">
                                    <i class="fas fa-users fa-4x"></i>
                                </li>
                                <li class="ml-auto">
                                <span class="counter text-success">{{users}}</span>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h4 class="box-title">Users &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{users}}</h4>
                            <ul class="list-inline two-part d-flex align-items-center mb-0">

                                <li style="padding: 6px;">
                                    <div id="sparklinedash2">
                                    	<i class="fas fa-user-plus fa-4x"></i>
                                    </div>
                                </li>
                                <li class="ml-auto">
                                	<a href="">
                                		<span class="counter text-info"></span>
                                		<a href=""><h2><span class="counter text-success">Add Admin</span></h2></a>
                                	</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                       	 <div class="white-box analytics-success">
                       	 	<h3 class="box-title">View Admins</h3>
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                               
                                	<li style="padding: 6px;">
                                    <i class=" far fa-chart-bar fa-4x"></i>
                                </li>
                                <li class="ml-auto">
                                	<span class="counter text-info">
                                		<a href=""><h2><span class="text-success">View Admins</span></h2></a>
                                	</span>
                                </li>
                            </ul>
                        </div>  
                    </div>
                </div>
	</div>

{%endblock%}