    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="{%url 'jjrh_bed:dashboard' %}" class="navbar-brand">JJRH Dashboard</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a href="{% url 'jjrh_bed:beds'%}" class="nav-link">Home</a>
            </li>
           <!--  <li class="nav-item">
                <a href="#" class="nav-link">Profile</a>
            </li> -->
            <!-- <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Messages</a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Inbox</a>
                    <a href="#" class="dropdown-item">Drafts</a>
                    <a href="#" class="dropdown-item">Sent Items</a>
                    <div class="dropdown-divider"></div>
                    <a href="#"class="dropdown-item">Trash</a>
                </div>
            </li> -->
        </ul>
        <ul class="nav navbar-nav ml-auto">

        <a href="#" class="nav-link">Hello</a>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Account</a>
                <div class="dropdown-menu dropdown-menu-right">
                    {%if request.user.is_authenticated%}
                    <!-- <div class="dropdown-divider"></div> -->
                    <a href=""class="dropdown-item">Profile</a>
                    <a href=""class="dropdown-item">Change Password</a>
                    <a href=""class="dropdown-item">Logout</a>
                    {%else%}
                    <a href="" class="dropdown-item">login</a>
                    <a href="" class="dropdown-item">register</a>
                    {%endif%}
                </div>
            </li>
        </ul>
    </div>
</nav>